          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Users Management <small>Create New User</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">

                      <span class="section">User</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="both name(s) e.g Jon Doe" required="required" type="text" {{#if form}}value="{{form.name}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12" {{#if form}}value="{{form.email}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Confirm Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email2" name="confirm_email" data-validate-linked="email" required="required" class="form-control col-md-7 col-xs-12" {{#if form}}value="{{form.confirm_email}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="password" class="control-label col-md-3">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="phone" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" {{#if form}}value="{{form.phone}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_id">Group <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="group_id" required="required" name="group_id" class="form-control col-md-7 col-xs-12">
                            {{#each groups}}
                            <option value="{{this.ID}}" {{#if ../form}} {{#equal ../form.group_id this.ID}}selected{{/equal}}{{/if}}>{{this.Name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city_id">City <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="city_id" required="required" name="city_id" class="form-control col-md-7 col-xs-12">
                            {{#each cities}}
                            <option value="{{this.ID}}" {{#if ../form}} {{#equal ../form.city_id this.ID}}selected{{/equal}}{{/if}}>{{this.Name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{#section 'endscript'}}
          <!-- FastClick -->
          <script src="/vendors/fastclick/lib/fastclick.js"></script>
          <!-- NProgress -->
          <script src="/vendors/nprogress/nprogress.js"></script>
          <!-- validator -->
          <script src="/vendors/validator/validator.min.js"></script>

          <!-- Custom Theme Scripts -->
          <script src="/build/js/custom.min.js"></script>

          <!-- validator -->
          <script>
            // initialize the validator function
            validator.message.date = 'not a real date';

            // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
            $('form')
              .on('blur', 'input[required], input.optional, select.required', validator.checkField)
              .on('change', 'select.required', validator.checkField)
              .on('keypress', 'input[required][pattern]', validator.keypress);

            $('.multi.required').on('keyup blur', 'input', function() {
              validator.checkField.apply($(this).siblings().last()[0]);
            });

            $('form').submit(function(e) {
              e.preventDefault();
              var submit = true;

              // evaluate the form using generic validaing
              if (!validator.checkAll($(this))) {
                submit = false;
              }

              if (submit)
                this.submit();

              return false;
            });
          </script>
          <!-- /validator -->
          {{/section}}
