          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Board Management <small>Create New Board</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">

                      <span class="section">Board</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_id">User <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="user_id" class="form-control col-md-7 col-xs-12" name="user_id" required="required">
                            <option value="0">-- select user --</option>
                            {{#each users}}
                            <option value="{{this.ID}}">{{this.Name}}-{{this.City.Name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profile_picture">Profile Picture <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="profile_picture" class="form-control col-md-7 col-xs-12" data-validate-length-range="3" name="profile_picture" required="required" type="text" {{#if form}}value="{{form.profile_picture}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="position">Position <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="position" class="form-control col-md-7 col-xs-12" data-validate-length-range="3" name="position" required="required" type="text" {{#if form}}value="{{form.position}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="division">Division <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="division" class="form-control col-md-7 col-xs-12" data-validate-length-range="3" name="division" required="required" type="text" {{#if form}}value="{{form.division}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_period">Start Period <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="start_period" class="date-picker form-control col-md-7 col-xs-12" data-validate-length-range="3" name="start_period" required="required" type="text" {{#if form}}value="{{form.start_period}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end_period">End Period <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="end_period" class="date-picker form-control col-md-7 col-xs-12" data-validate-length-range="3" name="end_period" required="required" type="text" {{#if form}}value="{{form.end_period}}"{{/if}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status<span class="required">*</span>
                        </label>
                        <label>
                          <input type="checkbox" class="js-switch" name="status"/> actived
                        </label>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{#section 'endscript'}}
          <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
          <!-- FastClick -->
          <script src="/vendors/fastclick/lib/fastclick.js"></script>
          <!-- NProgress -->
          <script src="/vendors/nprogress/nprogress.js"></script>
          <!-- validator -->
          <script src="/vendors/validator/validator.min.js"></script>

          <script src="/js/moment/moment.min.js"></script>
          <script src="/js/datepicker/daterangepicker.js"></script>

          <script src="/vendors/switchery/dist/switchery.min.js"></script>

          <!-- Custom Theme Scripts -->
          <script src="/build/js/custom.min.js"></script>

          <!-- validator -->
          <script>
            $(document).ready(function() {
              $('.date-picker').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
              }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
              });
            });
            // initialize the validator function
            validator.message.date = 'not a real date';

            // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
            $('form')
              .on('blur', 'input[required], input.optional, select.required', validator.checkField)
              .on('change', 'select.required', validator.checkField)
              .on('keypress', 'input[required][pattern]', validator.keypress);

            $('.multi.required').on('keyup blur', 'input', function() {
              validator.checkField.apply($(this).siblings().last()[0]);
            });

            $('form').submit(function(e) {
              e.preventDefault();
              var submit = true;

              // evaluate the form using generic validaing
              if (!validator.checkAll($(this))) {
                submit = false;
              }

              if (submit)
                this.submit();

              return false;
            });
          </script>
          <!-- /validator -->
          {{/section}}
